
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 100ch;  
    margin-inline: max(1em, (100% - 100ch) / 2);  
    padding: 1em; 
  }
  
  ul {
    display: contents;  
  }
  
  li {
    display: contents;  
  }
  
  nav {
    padding: 1em; 
    display: flex; 
    justify-content: space-evenly;  
    align-items: center;  
    margin-bottom: 1.5em;  
    border-bottom: 1px solid oklch(80% 3% 200);  /
  }
  
  nav a {
    flex: 1; 
    text-align: center;  
    text-decoration: none; 
    color: inherit; 
    padding: 0.5em 1em; 
    transition: all 0.25s ease-in-out;  
  }
  
  nav a:hover {
    background-color: oklch(from var(--color-accent) 95% 5% h);
      border-bottom: 0.4em solid var(--color-accent); 
      border-radius: 5px;
  }
  
  nav a.current {
    font-weight: bold; 
    border-bottom: 0.4em solid oklch(85% 3% 200); 
    padding-bottom: 0.2em;  
  }
  
  :root {
    --color-accent: oklch(40% 60% 270); 
  }
  
  html {
    --color-accent: oklch(65% 50% 0);
  }

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
  margin-top: 1em;
  padding: 1em;
}


.projects article {
  display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3; 
    gap: 1em;
    background: #f9f9f9;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.projects article:hover {
  transform: scale(1.13); 
}

.projects h2 {
  font-size: 1.2em;
  margin-bottom: 0em;
}

.projects img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.projects p {
  font-size: 1em;
  color: #323030;
}

h1 {
  font-size: 400%; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; 
  text-wrap: balance;
}